
.column {
  float: left;
}

.notesDiv{
    grid-column:2;
    grid-row:2 / 12;
    /* height:40em; */
    overflow-y:scroll;
    /* float: left; */
    font-size:medium;
    /* overflow-x:scroll; */
    /* overflow-y:scroll; */
    /* overflow-wrap:normal; */
}
.textDiv{
    grid-column:1;
    grid-row:3 / 12;
    /* height:40em; */
    overflow-y:scroll;
    float: left;
    font-size:large;
    /* font-family: monospace; */
    /* writing-mode: vertical-rl; */
    /* resize:both; */
    /* overflow: auto; */
}

gloss{
    font-size:small;
}

div{
    float:left;
}

.wrapper{
    display:grid;
    grid-template-columns:7fr 3fr;
    grid-auto-rows:50px;
}

.translation{
    grid-column:1 / 10;
    grid-row:12 / 22;
    /* overflow-y:scroll; */
    /* float: left; */
    font-size:medium;
    resize:both;
    overflow: auto;
}

.textCtls{
    font-size:large;	
    grid-column:1;
    grid-row:1 / 2;
    float:inline-end;
}
.noteCtls{
    grid-column:2;
    grid-row:1;
}

textarea{
    overflow-y:scroll;
}
select{
    font-size:large;
}
button{
font-size:16px
}

slur{
    text-decoration: underline green;
}
